@font-face {
	font-family: "Toyota Display";
	src: url("toyota-display-bold.eot?") format("eot"),
		 url("toyota-display-bold.woff2") format("woff2"),
		 url("toyota-display-bold.woff") format("woff"),
		 url("toyota-display-bold.ttf") format("truetype"),
		 url("toyota-display-bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
	font-family: "Toyota Display";
	src: url("toyota-display-regular.eot?") format("eot"),
		 url("toyota-display-regular.woff2") format("woff2"),
		 url("toyota-display-regular.woff") format("woff"),
		 url("toyota-display-regular.ttf") format("truetype"),
		 url("toyota-display-regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
	font-family: "Toyota Text";
	src: url("toyota-text-bold.eot?") format("eot"),
		 url("toyota-text-bold.woff2") format("woff2"),
		 url("toyota-text-bold.woff") format("woff"),
		 url("toyota-text-bold.ttf") format("truetype"),
		 url("toyota-text-bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
	font-family: "Toyota Text";
	src: url("toyota-text-regular.eot?") format("eot"),
		 url("toyota-text-regular.woff2") format("woff2"),
		 url("toyota-text-regular.woff") format("woff"),
		 url("toyota-text-regular.ttf") format("truetype"),
		 url("toyota-text-regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
