.contacts-item {
  &_with-link {
    .contacts-item__value {
      color: color(black);
      text-decoration: none;
    }
  }
  &_tel {
    .contacts-item__value {
      font-size: 16px;
      font-weight: 700;
    }
  }
}

.contacts-item__label,
.contacts-item__value {
  display: inline-block;
}

.contacts-item__label {
  margin-right: 4px;
}

@include respond-to(medium) {
  .contacts-item {
    font-size: 16px;
    &_tel {
      .contacts-item__value {
        font-size: 18px;
      }
    }
  }
}
