.checkbox {
  display: block;
}

.checkbox__label {
  display: block;
  position: relative;
  display: block;
  padding-left: 24px;
  transition: $input_transition;
  &::before,
  &::after {
    content: "";
    position: absolute;
    transition: $input_transition;
  }
  &::before {
    top: 2px;
    left: 0;
    width: 16px;
    height: 16px;
    background-color: color(white);
    border: 1px solid color(primary);
  }
  &::after {
    opacity: 0;
    top: 3px;
    left: 4px;
    width: 14px;
    height: 8px;
    border-left: 2px solid color(primary);
    border-bottom: 2px solid color(primary);
    transform: rotate(-45deg);
  }
}

.checkbox__input:checked ~ .checkbox__label {
  &::after {
    opacity: 1;
  }
}
